<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Result</title>

  <style>
    span {
      color: rgb(145, 255, 0);
      font-weight: 700;
    }
  </style>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>이름 <span>
      <%= userInfo.name %>
    </span></div>
  <div>성별 <span>
      <%= userInfo.gender %>
    </span></div>

    <div>생년월일 <span>
      <%= userInfo.year %>
      <%= userInfo.month %>
      <%= userInfo.day %>
    </span></div>

    <div>관심사 <span>
      <%= userInfo.interest %>
    </span></div>

    <div>좋아하는 숫자 <span>
      <%= userInfo.nb %>
    </span></div>
</body>

</html>